header{
    background-image: url(/img/carousel-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.topbar_container{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.topbar_item_container{
    display: flex;
    justify-content: space-between;
}

.topbar_list_item{
    display: flex;
}

.header_container{
    display: flex;
    justify-content: space-between;
    padding: 56px 0 50px;
}

.header_logo{
    margin-right: 10px;
}

.header_nav-menu{
    display: flex;
}

.header_nav-link{
    margin-right: 40px;
    color: #1F1534;
    font-size: 18px;
    line-height: 23px;
    transition: all .2s;
}

.header_nav-link:hover{
    font-weight: 700;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}