/* header {
  background-image: url(/img/carousel-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
} */

/**************************/
/* TOPBAR */
/**************************/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem;
  border-bottom: 2px solid rgba(169, 167, 167, 0.307);
}
.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0 1rem;
  width: 144rem;
}

.topbar-item {
  min-width: 35%;
  margin: 0px 1rem;
}

.topbar-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.topbar-list-contact {
  display: flex;
  justify-content: end;
}

.topbar-list-location {
  display: flex;
  justify-content: start;
}

.topbar-img {
  max-width: 1.9rem;
}

.topbar-list li {
  display: flex;
  align-items: center;
}

.topbar-link {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
  color: #355efc;
}

/**************************/
/* NAVIGATION */
/**************************/
.header-navigation {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.main-nav-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-list-social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 5rem;
}

.main-nav-social-img {
  max-height: 3rem;
  max-width: 3.7rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #0000ff;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #010107;
}

.header-text-box {
  background-image: url(/img/carousel-1.png);
  background-size: cover;
  object-fit: cover;
  background-position: center;
  position: relative;
  height: 100vh;

  /* position: absolute;
  top: 60%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}
.header-text-box-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 13rem !important;
}
.home-header {
  font-size: 8rem;
  font-weight: 700;
  line-height: 9.6rem;
  letter-spacing: 0em;
  margin: 4rem 0;
  text-align: left;
}

.home-git-span {
  padding: 0.4rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: #355efc;
  margin: 0.5rem 0;
}
