header {
  background-image: url(/img/carousel-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/**************************/
/* TOPBAR */
/**************************/

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0 1rem;
}

.topbar-item {
  min-width: 35%;
  margin: 0px 1rem;
}

.topbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.topbar-link {
  text-decoration: none;
}

.topbar-img {
  max-width: 1.9rem;
}

.topbar-list li {
  list-style: none;
  display: flex;
  align-items: center;
}

/**************************/
/* NAVIGATION */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.main-nav-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.main-nav-list-social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 5rem;
}

.main-nav-social-img {
  max-height: 3rem;
  max-width: 3.7rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #0000ff;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #010107;
}

.header-text-box {
  position: absolute;
  top: 60%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-header {
  font-size: 8rem;
  font-weight: 700;
  line-height: 9.6rem;
  letter-spacing: 0em;
  margin: 4rem 0;
  text-align: left;
}
